@media screen and (max-width: 768px){
body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 8 ;
 }

.navbar{
       display: grid;
       justify-content:center;
       margin:0 auto;

}
.navbar img{
   height: 40px;
   grid-column:1;
   justify-self: center;
   margin-right: 50px;
   margin-top: 20PX;
}
.navbar ul{
    display: flex;
}
.navbar li{
     display: grid;
     grid-template-columns: 1fr 1fr;
    list-style: none;
    margin: 0 52px 4px -39px;
}
.navbar a{
    text-decoration: none;
    color: black;
}
 a:hover{
    padding-bottom:10px;
    border-bottom: 1px solid red;   
}

.section0{
    font-size: 17PX;
}
.under-logo{
    margin:auto 167px;
    width:300px;
    padding-right: 20px;

}
.under-logo p{
    font-size:14px;
    margin-top:-10px;
}
/******************* BARRE DE RECHERCHE**************/
.bar-search{
    margin:0 auto;
    display:flex;
    align-items: center;
    width: 378px;
    margin-top: 20PX;
}
.loupe{
    background:#F2F2F2;
    border-radius:30% 0 0 30%;
    padding-left:10px;
    height:35px;
    width:35px;
    padding-top:13px;
    margin:10px -4px 9px -25px;
}
.bouton1{
    display:none;
}
.bouton2{  

    border-radius:30% 30%;
    padding-left:5px;
    height:50px;
    width:50px;
    color:white;
    background-color: #0065FC;
    border:0 solid transparent;
    margin-left:-20px;  
}
.search{
    font-weight:bolder;
    height:47.5px;
    width: 238px;
    border:2px solid #F2F2F2;
    border-left: none;
    padding-left:24px;  
}

/*******************FILTRES****************/
.section-filtre{
    display: grid;
    justify-content: center;
    MARGIN: 3px 0 7px 37px;
}
.section-filtre ul{
    display: grid;
    justify-content:center;

}
.section-filtre li{
    list-style-type: none;
}
.section-filtre h2{
    font-size:16px;
    margin-left:23px
}
.economie{
    border:3px solid #F2F2F2;
    padding: 10px 0px 5px 0px;
    font-size:16px;
    font-weight: bolder;
    width: 190px;
    border-radius: 40px;
}
.economie i{
    color:#0065FC;
    background-color: #deebff;
    width:40px;
    height:40px;
    border-radius: 45% 45%;
    margin: -16px 22px -8PX -21px;
    padding-top: 15px;
    padding-left: 20px;
}
.familial{
    grid-column:2;
    border:3px solid #F2F2F2;
    padding:11px 9px 3px 4px;
    font-size:16px;
    font-weight: bolder;
    width: 150px;
    border-radius: 40px;
    margin:0PX 59px -3px 33px;
}
.familial i{
    color:#0065FC;
    background-color: #deebff;
    width:40px;
    height: 40px;
    border-radius: 45% 45%;
    margin: -16px 22px -8PX -21px;
    padding-top: 15px;
    padding-left: 20px;
}
.heart{
    border:3px solid #F2F2F2;
    padding:11px 7px 5px 1px;
    font-size:16px;
    font-weight: bolder;
    width: 170px;
    border-radius: 40px;
    margin-top: 20px;
    padding-left:-10px;
    margin: 20px 27px 2px -5px;
}
.heart i{
    color:#0065FC;
    background-color: #deebff;
    width:40px;
    height:40px;
    border-radius: 45% 45%;
    margin: -15px 12px -9PX -19px;
    padding-top: 17px;
    padding-left: 18px;

}
.dog{
    grid-row: 3;
    border:3px solid #F2F2F2;
    padding:11px 1px 5px 7px;
    font-size:16px;
    font-weight: bolder;
    width: 220px;
    border-radius: 40px;
    margin:30px -27px -19px -10px;
}
.dog i{
    color:#0065FC;
    background-color: #deebff;
    width:40px;
    height:40px;
    border-radius: 45% 45%;
    margin: -16px 22px -8PX -21px;
    padding-top: 15px;
    padding-left: 20px;
}
/***************LOGO INFORMATIONS ET TEXTE********/
.logement{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 27px 11px 3px;
    justify-content: center;
    margin: 19px 19px 4px 18px;
}
.logement i{
    padding: 0px -3px 0px 0px;
    margin: 0px 13px 0px -17px;
    font-size: 20px;
    color: blue;
}
.logement h5{
    font-size:15px;
    font-weight:200;
    width:300px;
}
}


