@media screen and (max-width: 768px){
body{
    font-family: 'Raleway', sans-serif;
    margin: 15Px;
    box-sizing: border-box;
 }
 .navbar ul{ 
    display: flex;
   justify-content: space-between;
 }
 .navbar-logo{
display: flex;
justify-content: space-around;
 }
 .navbar img{
     height: 40px;
 }
 .navbar li {
     list-style-type: none; 
 }
 .navbar-hebergement{
     margin:0px -1px 0 -30px;
 }
 .navbar-activity{
     margin:0px 62px 0px 0px;
 }
 .navbar a{
     text-decoration: none;
     color: #000;
     cursor:pointer;
     font-size:14px;
 }
 .navbar a:hover{
     border-bottom:3px solid#0065FC;
 }
 .section0{
  width: 330PX;
  font-size:19px;
  line-height: 1.2;
 }
 .section0 p{
     font-size: 14px;
     margin-bottom: 30px;
     margin-top:10px;
 }
/********************BARRE DE RECHERCHE********************/

/******************* BARRE DE RECHERCHE**************/
.bar-search{
    display:flex;
}
.loupe{
    background: #F2F2F2;
    border-radius: 30% 0 0 30%;
    padding:1rem;
}
.bouton1{
    display:none;
}
.bouton2{  
    border-radius:30% 30% 30% 30%;
    color:white;
    background-color: #0065FC;
    border:0 solid transparent;
    margin-left:-20px;  
    padding: 1rem;
}
.bouton2:hover{
    transform:scale(1.4);
}
.search{
    font-weight: bolder;
    border: 2px solid #F2F2F2;
    border-left: none;
    font-size: 16px;
    padding: 0.9em;

}
/*******************FILTRES****************/
.section-filtre ul{
    display: grid;
    justify-content: center;
    justify-items: start;
    padding: 0;
}
.section-filtre li{
    list-style-type: none;
    border: 2px solid #F2F2F2;
    border-radius: 1.4rem;
    font-weight: bolder;
}
.section-filtre h2{
    font-size:16px;
}
.section-filtre i{
    margin: -1px -7px -2px -5px;
    padding: 1rem;
    border-radius: 50%;
    background:#DEEBFF;
    color:#0065FC;
}
.economie{
    padding-right: 15px;
}
.filtre-economique{
    padding-left: 6px;
    margin-left: 8px; 
}
.familial{
    grid-column: 2;
    margin-left: 20px;
    padding-right: 19px;
}
.filtre-familial{
    padding-left: 15px;
    margin-left: -1px;
}
.heart{
    margin-top: 15px;
    padding-right: 16px;
}
.filtre-heart{
    margin-left: -4px;
    padding-left: 14px;
}
.dog{
    margin-top:15px;
    grid-row:3;
 padding-left:-20px;
}
/***************LOGO INFORMATIONS ET TEXTE********/
.logement{
    display: flex;
    align-items: baseline;
}
.logement i{
    color: blue;

}
.logement h5{
    font-size:16px;
    font-weight:200;
}
}