body
{
    font-family: "Raleway", sans-serif;
    font-size:15px;
    margin-LEFT:30px;

}
header
{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  
}
.photo 
{   
   
    width: 4rem;

}

ul
{    
    margin: 0 ;
    padding:0;
    list-style-type: none;

}
header li
{
 display: inline;
 margin: 15px 30px;
 cursor: pointer;
 font-size: 0.9rem;

 

}
header a
{
    text-decoration: none;
    color: black;
  
}

header a:hover
{
  
  border-top:3px solid #0065FC;
  text-decoration:none; 
  padding-top: 34px;
  
}
                  /*TEXTE SOUS LOGO*/
.under-logo h3
{
    font-size: 11px;
    font-weight: bolder;
    margin-top: 30px;
}
       

.under-logo p
{
    font-size:10PX;
}
       /* BARRE DE RECHERCHE*/

.bar-search i
{
   
    background-color:#f2F2F2;
    width: 35px;
    height: 25px;
    border-radius:7px 0 0 7px;
    padding-left:10px;
    padding-top: 8px;
   
    
   
    
}
 

.search
{  
  
    padding-left: 10px;
    font-weight: bolder;
    border:1px solid #f2F2F2;
    height: 25px;
    border-left-style: none;
    border-right-style:none ;
    margin-left: -10px;
    margin-right:-10px;
    font-size: 12px;
   
    
    
      
} 
button
{   
    border-radius: 0 7px 7px 0;
    color: white;
    background-color: #0065FC;
    width: 70px;
    height: 25px;
    border:none;  
    font-size: 9px;



}
  
          /* FILTRES*/

.filter
{  
    display: flex;
    align-items: center;
    padding: 0px;
    margin-top: 30px;
    
}

.logo-economie
{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    margin-left:10px;
    color:#0065FC;
    background-color:#deebff;
    border-radius:50px 50px 50px 50px;
    width: 35px;
    height: 35px;
    margin-bottom: 10px;

}

.filter i
{
   
   padding-top: 10px;
}
.filter h2
{
    font-size:14px;
    font-weight: bolder;
}
.titre-economie h3
{   
    
    font-size:14px;
    font-weight: bolder;
    border:2px solid #f2F2F2;
    border-radius:25px 25px;
    width: 130px;
    height: 35px;
    padding-left: 45px;
    padding-top: 8px;
    border-left: none;
    margin-left: -34px;
   
}

.logo-enfant
{      
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
        margin-left:15px;
        color:#0065FC;
        background-color:#deebff;
        border-radius:50px 50px 50px 50px;
        width: 35px;
        height: 35px;
        margin-bottom: 10px;
}

.titre-enfant h3
{
    font-size:14px;
    font-weight: bolder;
    border:2px solid #f2F2F2;
    border-radius:25px 25px;
    width: 120px;
    height: 35px;
    padding-left: 45px;
    padding-top: 8px;
    border-left: none;
    margin-left: -34px;
   
}
.logo-heart
{   
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
        margin-left:15px;
        color:#0065FC;
        background-color:#deebff;
        border-radius:50px 50px 50px 50px;
        width: 35px;
        height: 35px;
        margin-bottom: 10px;
}


.titre-romantique h3
{
    font-size:14px;
    font-weight: bolder;
    border:2px solid #f2F2F2;
    border-radius:25px 25px;
    width: 140px;
    height: 35px;
    padding-left: 45px;
    padding-top: 8px;
    border-left: none;
    margin-left: -34px;
}
.logo-dog
{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    margin-left:15px;
    color:#0065FC;
    background-color:#deebff;
    border-radius:50px 50px 50px 50px;
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
}

.titre-animaux h3
{
    font-size:14px;
    font-weight: bolder;
    border:2px solid #f2F2F2;
    border-radius:25px 25px;
    width: 180px;
    height: 35px;
    padding-left: 40px;
    padding-top: 8px;
    border-left: none;
    margin-left: -34px;
}

span
{
    display: flex;
    margin-top: 40px;
  
}
span i
{
    color: #0065FC;
}
span h4
{
    font-size: 11px;
    margin-left: 20PX;
}




/*SECTION HEBERGEMENT A MARSEILLE */

#hebergement-marseille
{
    background-color: aqua;
    padding-left: 20px;
    width: 80%;
    height: 500px;
    border-radius: 15px 15px 15px 15px;
}

#house 

{   
    padding-top: 20px; 
    font-size: 14px;
    font-weight: bolder;

}
.cannebiere
{   
    
    background-color: red;
    width:150px;
    height:120px;
    border-radius: 15px 15px 15px 15px;
    

}
.photo-cannebiere 
{
    object-fit: cover;
    width: 140px;
    height: 70px;
    margin-left: 5px;
    padding-top: 4px;
    border-radius: 15px 15px 0 0;
}

.cannebiere h4
{
    font-size: 10px;
    font-weight: bolder;
    margin-left: 9px;
    

}
.cannebiere p
{
     font-size: 9px;
     padding-bottom: 10px;
     margin-left: 10px;
     line-height: 0.2rem;

}
.icone-cannebiere
{  
    display: flex;
   font-size: 10px;
   padding-left: 20px;
  
}



               /* FOOTER*/
footer
{
    background-color: #f2F2F2;
    display: flex;
   justify-content:space-between;
}
 footer h4
 {
     font-size: 14px;
     font-weight: bolder;
 }              

 footer li
 {
  
   font-size:0.7rem;

 }
 footer ul
 {
   
    margin:20px;
   
 }
 .help-footer
 {
     padding-right: 200px;
 }


 