  /***********************PARTIE SMARTPHONE********************************/
  @media screen and (max-width:768px){

.header{  
    display:flex;
    flex-direction:column;
    margin-left:70px;
}
nav{
 margin-right: 90px;
}
nav a:hover{
    border-bottom:2px solid #0065FC;
}
.section0{
    
    margin-left:350PX; 
}
.under-logo{
    width: 200px;
}
.section0 p{
    width: 250px;
}
.bar-search{
    margin-left:350px;   
}
.bouton{
    width:30px;
    height:29px;
}
.section-filtre{
    margin-left: 350px;
    margin-top: -40px;
    background-color: aqua;
    width: 190px;
}
.section-filtre ul{
    display:flex; 
    flex-direction: column;
}
.logement{
    margin-left: 350px;
}
.section1{
margin-left: 300px;
}
.section2{
    order: 1;  
}
.hebergement-marseille{
 order:2 ; 
 grid-row: 2;
}
.hotel-haut{
 display: grid;
}
.auberge-cannebiere{
    grid-row:1;
}
.hotel-port{
    grid-row:2;
}
.hotel-mouette{
    grid-row:3;
}
.hotel-mer{
    grid-row:4;
}
.hotel-panier{
    grid-row:5;
}
.hotel-amina{
    grid-row: 6;
}
.vieux-port{
    grid-row: 1; 
    border:1px solid blueviolet;   
}
.photo-vieuxport{
    object-fit: cover;
}
.pomegue-frioul{
    grid-row:2;
}
 .calanques{
     grid-row: 3;
 }
 .notredame-longchamp{
     grid-row: 4;
 }
 .activite-marseille{   
     margin-left:300px ;
     PADDING-TOP: 450px;
     BORDER:1px solid red;
 }

.footer{
    display: flex;
    margin-left:290px;
    flex-direction: column;
   width:250px
}
  }
  
  
  
  
  
  
  
  /************************** PARTIE ORDINATEUR*******************************/
body{
    font-family: "Raleway", sans-serif;
    margin-left: 40px;
    height: 100vh;
}
.grid-container{
    display: grid;
    grid-template-rows:0.3fr 0.3fr 0.3fr 0.3fr ; 
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top:20px 
}
.photo{ 
    width:50px;
    height:30px; 
    margin-bottom: 10px;
}
nav ul{
    list-style: none;
    display: flex;
    align-items:center; 
    padding-right: 30px;  
}
nav li{
    margin-left: 50PX;    
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 10px;
}
nav a:hover{
    border-top: 2px solid #0065FC;
    padding-bottom:20px;   
}
/**************SECTION RECHERCHE******************/
.section0{    
    display:grid;
    grid-template-rows:repeat(4,0.2FR);            
}
.under-logo{  
    margin-top:20px;
}
.under-logo h3{
    font-size: 14px;
    font-weight: bolder;
}
.under-logo p{
    font-size: 11px;
}
             /**************** BARRE DE RECHERCHE*********************/
.bar-search{
    margin-top:-60px;
    margin-right:15px ;
}
.bar-search i{
    background-color:#f2F2F2;
    border-radius: 10px 0 0 10px;
    width: 35px;
    height: 29px;
    padding-top: 9px;
    padding-left: 12px;    
}
.search{   
    border-left: none;
    font-weight:bolder;
    margin-top: 10px;
    padding-left:10px;
    font-size: 9px;
    padding-top: 8px;
    padding-bottom:4.5px;
    border:2px solid #F2F2F2;
    margin-left: -10px;
    width:150px;   
}
button{
    background-color: #0065FC;
    color:WHITE;
    border-radius: 0px 10px 10px 0px;
    margin-left:-10px;
    border:none;
    width: 80px;
    height: 29px;
    font-size: 10px;
    padding-top: 5px;   
}   
        /*********************** LES FILTRES  *********************/
.section-filtre{
    display:flex;  
}
.section-filtre ul{
    display:flex;
    list-style: none;
}
.section-filtre h2{   
    font-size:12px;
    font-weight:bolder;
    padding-top:17px;
}
.section-filtre h3{
    font-size: 11px;
    font-weight: bolder;
}
.section-filtre li:hover{
    color:#0065FC; 
}
.titre-economie{  
    border:1.6pX solid rgb(231, 227, 227);
    border-radius: 0px 15px 15PX 0PX;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border-left:none;
    margin-left:-15px;
    padding-top:7px;
    padding-left:22px;  
}
.logo-economie{
    background-color: #DEEBFF;
    list-style: none;   
    color:blue;
    width: 30px;
    height: 30PX;
    border-radius: 20Px 20px;
    margin-top:10px;
    padding-left:7px;
    padding-top:2px;      
}
.titre-familial{
    border: 1.6px solid rgb(231, 227, 227);
    border-radius: 0px 15px 15PX 0PX;
    margin-top: 10px;
    width: 80px;
    height: 29px;
    padding-left: 20px;
    padding-top: 7px;
    border-left:none;
    margin-left:-10px;
}
.logo-familial{
    background-color: #DEEBFF;
    width: 30px;
    height: 30PX;
    border-radius:20px 20px;  
    color:blue;
    margin-left:10px;
    margin-top: 10px;
    padding-top:2px;
    padding-left:10px;   
}
.logo-heart{
    background-color: #DEEBFF;
    border-radius:20px 20px;
    list-style: none;   
    color:blue;
    width: 30px;
    height: 30PX;
    margin-left:10px;  
    margin-top:10.5px;
    padding-left:8px;
    padding-top:3px;  
}
.titre-heart{
    border:1.6pX solid rgb(231, 227, 227);
    border-radius: 0px 15px 15PX 0PX;
    margin-top: 11px;
    width: 100px;
    height: 29px;
    border-left:none;
    padding-left: 22px;
    padding-top: 6px;
    margin-left:-10px
}
.titre-dog{
    border:1.6pX solid rgb(231, 227, 227);
    border-radius: 0px 15px 15PX 0PX;
    margin-top: 11px;
    width: 125px;
    height: 29px;
    border-left:none;
    margin-left:-10px;
    padding-left:17px;
    padding-top:6px;
}
.logo-dog{
    background-color: #DEEBFF;
    width: 30px;
    height: 30px;
    border-radius:20px 20px ;
    list-style: none;   
    color:blue;
    margin-left:10px;
    margin-top:10px;
    padding-left:8px; 
    padding-top:1px;    
}
           /********************TEXTE SOUS LE FILTRE *******************/
.logement {
    display: flex;
    margin-bottom:14px;
    margin-top: 20px;
}

.logement i{
    color:#0065FC;
    padding-right: 10px;
}
.logement h5{
    font-size: 9px;
}
        /*************** PARTIE HEBERGEMENT A MARSEILLE***********/
.section1{
    display:grid;
    grid-template-columns:1fr 1fr;
    margin-top: 10px; 
   
}
#house{
    font-size:13px;
    font-weight: bolder;
    margin-left: 30px;
    padding-top: 20px;
}
.hebergement-marseille{
    background-color:#f2F2F2;
    border-radius:15px 20PX;
    width: 550px;
    height: 380PX;
}
.hotel-haut{
    display:grid;
    grid-template-columns: repeat(3,2fr);
    margin-top:15px;
}
h4{
    font-size:8px;
    font-weight: bolder;
    padding-left: 8px;
    padding-top:5px;  
    line-height: 0.8;    
}
.hotel-haut p{
   font-size: 7px;
   padding-left: 8px;
   margin-top: -5px;
}
.auberge-cannebiere{
    background-color:white;
    width: 140px;
    height: 105px;
    margin-left:20px;
    border-radius: 15px 15px;
   }
.photo-cannebiere{
    object-fit: cover;
    width: 135px;
    height: 60px;
    border-radius: 15px 15px 0 0;
    margin-left:2.5px;
    margin-top:3px;
}
.icone {
    list-style-type: none;  
    display: flex;
    font-size: 7px;
    margin-top:-15px;
    margin-left:-23px; 
    color:#0065FC;  
}
.icone-gris{
    color:grey;
    opacity:0.4;
}
.hotel-port{
    background-color:white;
    width: 140px;
    height: 105px;
    margin-left:20px;
    border-radius: 15px 15px;
   }
   .photo-port{
    object-fit: cover;
    width: 135px;
    height: 60px;
    border-radius: 15px 15px 0 0;
    margin-left:2.5px;
    margin-top:3px;
}
.hotel-mouette{
    background-color:white;
    width: 140px;
    height: 105px;
    margin-left:20px;
    border-radius: 15px 15px;
}
.photo-mouette{
    object-fit: cover;
    width: 135px;
    height: 60px;
    border-radius: 15px 15px 0 0;
    margin-left:2.5px;
    margin-top:3px;
}
.hotel-mer{
    background-color:white;
    width: 140px;
    height: 105px;
    margin-left:20px;
    border-radius: 15px 15px;
    margin-top:30px;
}
.photo-mer{
    object-fit: cover;
    width: 135px;
    height: 60px;
    border-radius: 15px 15px 0 0;
    margin-left:2.5px;
    margin-top:3px;
}
.hotel-panier{
    background-color:white;
    width: 140px;
    height: 105px;
    margin-left:20px;
    border-radius: 15px 15px;
    margin-top: 30px;
}
.photo-panier{
    object-fit: cover;
    width: 135px;
    height: 60px;
    border-radius: 15px 15px 0 0;
    margin-left:2.5px;
    margin-top:3px;
}
.hotel-amina{
    background-color:white;
    width: 140px;
    height:105 ;
    margin-left:20px;
    border-radius: 15px 15px;
    margin-top:30px;
}
.photo-amina{
    object-fit: cover;
    width: 135px;
    height: 60px;
    border-radius: 15px 15px 0 0;
    margin-left:2.5px;
    margin-top:3px;
}
.hebergement-marseille h5{
    margin-top:30px;
    font-size:10px;
    margin-left:30px;
    font-weight:bolder;
}
/******************PARTIE LES PLUS POPULAIRES********************/
.section-cote{
    display: flex;
    justify-content:center;
    align-items: center;   
}
.section2 i{
    padding-top:10px;
}
.section2{
   background-color:#f2F2F2;
   border-radius:25px 25PX;
   width: 250px;
   height: 380px;
   margin-left:20px;  
}
.section2 h3{
    font-size: 13px;
    font-weight: bolder;
    padding-top:20px;
    padding-right:60px;
}
.section2 h4{   
    font-size:9px;
    font-weight: bolder;
    padding-left: 8px;
    padding-top:10px;       
}
.section2 p{
    font-size:8px;
    margin-left:8px;
    line-height: 0.5;
}
.section2 li{
     margin-top: 20px;
}
.hotel-lesoleil{
    background-color:white;
    width: 190px;
    height: 80px;
    margin-left:25px;
    border-radius:15px 15px 15px 15px;   
    display: flex; 
    margin-top:10px;      
}
.photo-lesoleil {
    object-fit: cover;
    width:70px;
    height:75px;
    margin-top:2.5px;
    margin-left:2px;
    margin-bottom:2px;
    border-radius:15px 0 0 15px;
}
.le-soleil{ 
    display: flex;
    flex-direction: column;  
}
.hotel-coeur{
    background-color:white;
    width: 190px;
    height: 80px;
    margin-left:25px;
    border-radius:15px 15px 15px 15px;   
    display: flex;
    margin-top: 20px;      
}
.photo-coeur {
    object-fit: cover;
    width:70px;
    height:75px;
    margin-top:2.5px;
    margin-left:2px;
    margin-bottom:2px;
    border-radius:15px 0 0 15px;
}
.hotel-bleu{
    background-color:white;
    width: 190px;
    height: 80px;
    margin-left:25px;
    border-radius:15px 15px 15px 15px;   
    display: flex;
    margin-top: 25px;       
}
.photo-bleu{
    object-fit: cover;
    width:70px;
    height:75px;
    margin-top:2.5px;
    margin-left:2px;
    margin-bottom:2px;
    border-radius:15px 0 0 15px;
}
/**********************PARTIE ACTIVITEE A MARSEILLE*****************************/
.activite-marseille{
    margin-top: 30px;
    margin-right:-50px;
}
.activite-marseille h4{
    font-size: 14px;
    font-weight: bolder;
    padding-bottom:20px;
}
.activite-marseille h5{
    font-size:9px;
    font-weight:bolder;
    margin-top:10px;
    margin-left: 10px;
}
.marseille-photo{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr;
}
.vieux-port{
    background-color:white;
    width: 190px;
    height:280px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 1px 1PX 1PX grey;   
}
.photo-vieuxport{
    object-fit: cover;
    width: 190px; 
    height: 250px;
    border-radius: 15px 15px 0 0;
}
.pomegue-frioul{
    margin-left :20px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
}
.pomegue{
    background-color:white;
    width: 190px;
    height:140px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 1px 1PX 1PX grey;  
}
.photo-pomegue{
    object-fit: cover;
    width: 190px; 
    height: 90px;
    border-radius: 15px 15px 0 0;
}
.frioul{
    background-color:white;
    width: 190px;
    height:120px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 1px 1PX 1PX grey;
    margin-top:20px;
}
.photo-frioul{
    object-fit: cover;
    width: 190px; 
    height: 90px;
    border-radius: 15px 15px 0 0;
}
.calanques{
    background-color:white;
    width: 190px;
    height:280px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 1px 1PX 1PX grey; 
    margin-left: 20px;
}
.photo-calangues{
    object-fit: cover;
    width: 190px; 
    height: 250px;
    border-radius: 15px 15px 0 0;
}
.notredame-longchamp{
    margin-left :20px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
}
.notre-dame{
    background-color:white;
    width: 190px;
    height:140px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 1px 1PX 1PX grey;
    
}
.photo-notredame{
    object-fit: cover;
    width: 190px; 
    height: 90px;
    border-radius: 15px 15px 0 0;
}
.longchamp{
    background-color:white;
    width: 190px;
    height:120px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 1px 1PX 1PX grey;
    margin-top:20px;
}
.photo-longchamp{
    object-fit: cover;
    width: 190px; 
    height: 90px;
    border-radius: 15px 15px 0 0;
}
/*************************** FOOTER **********************************/
footer{
    margin-top:40px;
    background-color:#f2F2F2;
    display: grid;
    grid-template-columns: 0.25fr 0.29fr 0.3fr;
    margin-left:-40px;
    padding-left: 20px;  
}
footer h4{
    font-size: 12px;
    font-weight: bolder;
    margin-left:-10px;
    padding-left:10PX
}
footer ul{
    list-style: none;
    margin-top: 40px;
}
footer li{
    font-size:9px;
}