                 /* PARTIE ORDINATEUR*/


body
{
    font-family: "Raleway", sans-serif;
    margin-left: 30px;
  
   
 

   

}
.header
{
    
    width: 100vw;
    height:20vh;
    display: grid;
   
    

    
}

.photo 
{
    grid-column: 1;
    width: 60px;
    margin-top: 25px;
    

}
nav
{
    grid-column: 6;

}
nav ul
{
     display: flex;
    justify-content: center;
    align-items: center;    
    
}
nav li
{
    margin-left: 30px;
    padding-left: 50px;
    font-size: 11px;
    list-style: none;    

}
nav a
{
    text-decoration:none;
    color: black;   
    

}
nav a:hover 
{
    border-top: 2px solid #0065FC;
    color: black;   
 
}
.under-logo
{
    margin-top:30px;
}
.under-logo h3
{
    font-size: 14px;
    font-weight: bolder;
}
.under-logo p
{
    font-size: 11px;
}
             /* BARRE DE RECHERCHE*/

.bar-search i
{
    background-color:#f2F2F2;
    border-radius: 10px 0 0 10px;
    width: 35px;
    height: 29px;
    padding-top: 9px;
    padding-left: 12px;

    
    
   

}
.search
{
    
    border-left: none;
    font-weight:bolder;
    margin-top: 10px;
    padding-left:10px;
    font-size: 9px;
    padding-top: 8px;
    padding-bottom:4.5px;
    border:2px solid #F2F2F2;
    margin-left: -10px;
    WIDTH:150px;
    
}
button
{
    background-color: #0065FC;
    color:blanchedalmond;
    border-radius: 0px 10px 10px 0px;
    margin-left:-10px;
    border:none;
    width: 80px;
    height: 29px;
    font-size: 10px;
    padding-top: 5px;
    
}
    
        /* LES FILTRES  */

.section1
{
    display:grid;
   grid-template-columns: repeat(12,50PX); 
   margin-top:20px;
   list-style: none;
  
}


.section1 h2
{
    
    font-size:12px;
    font-weight:bolder;
    padding-top:17px;

   
}


.section1 h3
{
    font-size: 11px;
    font-weight: bolder;
}

.titre-economie
{
   
    border:1.6pX solid rgb(231, 227, 227);
    border-radius: 0px 15px 15PX 0PX;
    margin-top: 10px;
    width: 95px;
    height: 30px;
    border-left:none;
    margin-left:-33px;
    padding-top:7px;
    padding-left:19px
   
}

.logo-economie
{
    background-color: #DEEBFF;
    list-style: none;   
    color:blue;
    width: 30px;
    height: 30PX;
    border-radius: 20Px 20px;
    margin-top:10px;
    padding-left:7px;
    padding-top:2px;  

    
}
.logo-familial
{
    background-color: #DEEBFF;
    width: 30px;
    height: 30PX;
    border-radius:20px 20px;  
    color:blue;
    margin-left: 25px;
    margin-top: 10px;
    padding-top:2px;
    padding-left:10px;
    
    
}

.titre-familial
{
    border: 1.6px solid rgb(231, 227, 227);
    border-radius: 0px 15px 15PX 0PX;
    margin-top: 11px;
    width: 80px;
    height: 29px;
    padding-left: 20px;
    padding-top: 6px;
    border-left:none;
    margin-left:-5px
}
.logo-heart
{
    background-color: #DEEBFF;
    border-radius:20px 20px;
    list-style: none;   
    color:blue;
    width: 30px;
    height: 30PX;
    margin-left: 40px;
    margin-top:10px;
    padding-left:8px;
    padding-top:3px;

   
}
.titre-heart
{
    border:1.6pX solid rgb(231, 227, 227);
    border-radius: 0px 15px 15PX 0PX;
    margin-top: 11px;
    width: 100px;
    height: 29px;
    border-left:none;
    padding-left: 25px;
    padding-top: 6px;

}
.titre-dog
{
    border:1.6pX solid rgb(231, 227, 227);
    border-radius: 0px 15px 15PX 0PX;
    margin-top: 11px;
    width: 125px;
    height: 29px;
    border-left:none;
    margin-left:30px;
    padding-left:17px;
    padding-top:6px;
}
.logo-dog
{
    background-color: #DEEBFF;
    width: 30px;
    height: 30px;
    border-radius:20px 20px ;
    list-style: none;   
    color:blue;
    margin-left:60px;
    margin-top:10px;
    padding-left:8px; 
    padding-top:1px;
    
}
           /*TEXTE SOUS LE FILTRE */
.logement 
{
    display: flex;
    margin-top: 30px;
}

.logement i
{
    color:#0065FC;
    padding-right: 10px;
}
.logement h4
{
    font-size: 9px;
}
        /* PARTIE HEBERGEMENT A MARSEILLE*/

#partie-hebergement
{
    margin-top:30px;

    
}
#house
{
    font-size:13px;
    font-weight: bolder;
    margin-top:20px;
    margin-left: 30px;
}
.hebergement-marseille
{
    display: grid;
    background-color: red;
    border-radius:15px 20PX;
    width: 520PX;
    height: 400PX;


}
.auberge-cannebiere
{
 background-color:whitesmoke;
 width: 150px;
 height: 100px;
 margin-left:30px;
 border-radius: 15px 15px;
}
.auberge-cannebiere h4 
{
    font-size:9px;
    font-weight: bolder;
    padding-left: 8px;
    padding-top:3px;
   
}
.auberge-cannebiere p
{
 font-size: 7px;
padding-left: 8px;
margin-top: -5px;
}

.photo-cannebiere
{
    object-fit: cover;
    width: 145px;
    height: 60px;
    border-radius: 15px 15px 0 0;
    margin-left:2px;
    margin-top:2px;
}
.icone 
{
    display: grid;
   
    list-style-type: none;
    
}