@media screen and (max-width: 768px){
body{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
 }
 header{
     margin-left:29px;
 }
.navbar{
    display: block;
}
 .navbar ul{ 
    display: flex;
   justify-content: space-between;
 }
 .navbar-logo{
display: flex;
justify-content: space-around;
 }
 .navbar img{
     height: 40px;
 }
 .navbar li {
     list-style-type: none; 
 }
 .navbar-hebergement{
     margin-left:-52px;
 }
 .navbar-activity{
     margin:0px 62px 0px 0px;
 }
 .navbar a{
     text-decoration: none;
     color: #000;
     cursor:pointer;
     font-size:14px;
 }
 nav a:hover{
     border-bottom:3px solid #0065FC;
     
 }
 .section0{
  width: 330PX;
  font-size:19px;
  line-height: 1.2;
  margin: 15px;
 }
 .section0 p{
     font-size: 14px;
     margin-bottom: 30px;
     margin-top:10px;
 }
/******************* BARRE DE RECHERCHE**************/
.bar-search{
    display:flex;
    margin: 15px;
}
.loupe{
    background: #F2F2F2;
    border-radius: 30% 0 0 30%;
    padding:1rem;
}
.bouton1{
    display:none;
}
.bouton2{  
    border-radius:30% 30% 30% 30%;
    color:white;
    background-color: #0065FC;
    border:0 solid transparent;
    margin-left:-20px;  
    padding: 1rem;
}
.bouton2:hover{
    transform:scale(1.4);
}
.search{
    font-weight: bolder;
    border: 2px solid #F2F2F2;
    border-left: none;
    font-size: 16px;
    padding: 0.9em;
}
/*******************FILTRES****************/
.section-filtre{
    display:flex;
    flex-direction: column;
}
.section-filtre ul{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.section-filtre li{
    list-style-type: none;
    border: 2px solid #F2F2F2;
    border-radius: 1.4rem;
    font-weight: bolder;
}
.section-filtre h2{
    font-size:16px;
    padding-left:15px;
}
.section-filtre p{
    padding-left:20px;
}
.section-filtre i{
    margin: -1px -7px -2px -5px;
    padding: 1rem;
    border-radius: 50%;
    background:#DEEBFF;
    color:#0065FC;
}
.economie{
    padding-right: 15px;
}
.filtre-economique{
    padding-left: 6px;
    margin-left: 8px; 
}

.familial{
    grid-column: 2;
    margin-left: 20px;
    padding-right: 19px;
}
.filtre-familial{
    padding-left: 15px;
    margin-left: -1px;
}
.heart{
    margin-top: 15px;
    padding-right: 16px;
}
.filtre-heart{
    margin-left: -4px;
    padding-left: 25px;
}
.dog{
    margin-top:15px;
    grid-row:3;
}
.filtre-dog{
    padding-left:17px;
}
/***************LOGO INFORMATIONS ET TEXTE*******************************/
.logement{
    display: flex;
    align-items: baseline;
}
.logement i{
    color: blue;
    margin: 15px;
}
.logement p{
    font-size:16px;
    font-weight:200;
}
/***************** SECTION LES PLUS POPULAIRES**************************/
main{
    margin-left: -20px;
    margin-right:-20px;
    margin-top: 30px;
}
main ul {
    list-style: none;
}
/****************SECTION 1 **************************/
.section1{
    display:flex;
    flex-direction: column-reverse;
 }
 .section1 h4{
     font-size:14px;
 }
 .section1 p{
     font-size:small;
 }
 .section1 ul{
     display: flex;
 }
 .hotel-haut{
     display: block;
 }
#house{
    margin-left:30px;
}
.auberge-cannebiere{
    border-radius: 15px 15PX 15px 15px;
    background:white;
    margin: 20px;
    height: 200px;
    box-shadow:1px 1px 11px 0px;
}
 .photo-cannebiere{
     height: 120px;
     object-fit: cover;
     border-radius: 15px 15px 0 0;
     width: 97%;
     margin: 5px 0px 0px 5px;
 }
 .hebergement-marseille h4{
    margin:4px 0px 0px 13px;
 }
 .hebergement-marseille p{
    margin: 14px 0 9px 14px;
    line-height: 0.4;
 }
 .hebergement-marseille ul{
     color:#0065FC;
 }
 .auberge-cannebiere li:nth-of-type(5){
    color:grey;
     opacity:0.3;
     font-size:14px;
}
 .icone4{
    margin: 5px 0px 0 -27px;
    font-size: small;
 }
 .hotel-port{
    border-radius: 15px 15PX 15px 15px;
    background:white;
    margin: 20px;
    height: 200px;
    box-shadow:1px 1px 11px 0px;
 }
 .photo-port{
    height: 120px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 97%;
    margin: 5px 0px 0px 5px;
 }
 .hotel-mouette{
    border-radius: 15px 15PX 15px 15px;
    background:white;
    margin: 20px;
    height: 200px;
    box-shadow:1px 1px 11px 0px;
 }
 .hotel-mouette li:nth-of-type(5){
     color:grey;
     opacity:0.3;
     font-size:14px;
 }
 .photo-mouette{
    height: 120px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 97%;
    margin: 5px 0px 0px 5px;
 }
 .hotel-mer{
    border-radius: 15px 15PX 15px 15px;
    background:white;
    margin: 20px;
    height: 200px;
    box-shadow:1px 1px 11px 0px;
 }
 .photo-mer{
    height: 120px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 97%;
    margin: 5px 0px 0px 5px;
 }
 .hotel-mer li:nth-of-type(4){
    color:grey;
    opacity:0.3;
    font-size:14px;
 }
 .icone-mer{
    color: gray;
    opacity: 0.3;
 }
 .hotel-panier{
    border-radius: 15px 15PX 15px 15px;
    background:white;
    margin: 20px;
    height: 200px;
    box-shadow:1px 1px 11px 0px;
 }
 .photo-panier{
    height: 120px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 97%;
    margin: 5px 0px 0px 5px;
 }
 .hotel-panier li :nth-of-type(4){
    color:grey;
    opacity:0.3;
    font-size:14px;
 }
 .hotel-amina{
    border-radius: 15px 15PX 15px 15px;
    background:white;
    margin: 20px;
    height: 200px;
    box-shadow:1px 1px 11px 0px;
 }
 .photo-amina{
    height: 120px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 97%;
    margin: 5px 0px 0px 5px;
 }
 h5{
    margin-left: 20px;
    margin-top: 30px;
 }
 /*************** SECTION 2  ***************************/
.section2{
    background-color: #F2F2F2;
}
.section2 h3{
    margin-left:15px;
}
.section2 p {
    font-size:13px;
}
.section-cote{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    padding-left :20px;
}
.section-filtre h3{
    padding-left: 20px;
}
.section-cote i{
    padding-right:20px;
    font-size:20px;
    margin-right:20px;
}
.hotel-lesoleil{
    display: flex;
    border-radius: 15px 15PX 15px 15px;
    background: white;
    margin: 20px;
    height: 140px;
}
.photo-lesoleil{
    height: 130px;
    width: 120px;
    border-radius: 15px 0 0 15px;
    margin: 5px 12px 0px 5px;
    object-fit: cover;
}
.icone1 , .icone2 , .icone3{
    display: flex;
    color:#0065FC;
    margin-left: -42px;
    padding-top: 10px;  
}
.icone1{
    padding-top:26px;
}
.icone2{
    padding-top: 9px;
    margin-left: -41px;
}
.icone3{
 padding-top: 19px;
}
.hotel-coeur li:nth-of-type(5){
    color: #F2F2F2;
}
.le-soleil{
   margin: -7px 0px 0px 8px;
}
.le-soleil p{
    margin-top: -10px;
    font-size:14px;
}
.hotel-coeur{
    display: flex;
    border-radius: 15px 15PX 15px 15px;
    background:white;
    margin: 20px;
    height: 140px;
}
.photo-coeur{
    height: 130px;
    width: 120px;
    border-radius: 15px 0 0 15px;
    margin: 5px 12px 0px 5px;
    object-fit: cover;
}
.hotel-bleu{
    display: flex;
    border-radius: 15px 15PX 15px 15px;
    background: white;
    margin: 20px;
    height: 140px;
}
.photo-bleu{
    height: 130px;
    width: 120px;
    border-radius: 15px 0 0 15px;
    margin: 5px 16px 0px 5px;
    object-fit: cover;
}
.hotel-bleu li:nth-of-type(5){
    color: #F2F2F2;
}
.hotel-bleu p{
    margin-top:-10px;
}
/********************SECTION ACTIVITES A MARSEILLE**********************/
.activite-marseille h4{
margin-left:20px;
}
.activite-marseille h5{
    margin:19px;
    font-size:smaller;
}
.activite-marseille img{
    height: 120px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width:100%;
}
.vieux-port , .pomegue , .frioul,.calanques,.notre-dame, .longchamp {
    border-radius: 15px 15PX 15px 15px;
    background: white;
    height: 180px;
    box-shadow: 3px 3px 15px -3px;
    margin-top:20px;
}
#activity{
    font-size :18px;
}
.marseille-photo{
    display: block;
}
/*********************** FOOTER *****************************/
footer{
    background-color:#F2F2F2;
    margin: 0px -23px -17px -17px;
    line-height: 1.5;
    padding-bottom: 10px;
}
.titre-propos{
    padding-top:40px;
    font-weight:bolder;
    font-size: 14px;
    margin-bottom: 30px;
}
footer ul{
    list-style-type: none;  
}
}
/************* PARTIE tablette*********/
@media screen and (min-width:768px)and (max-width:992px){
 body{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
 }
 header{
    margin-left: 20px;
}
.navbar img{
    height: 30px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right:20px;
}
.navbar ul{
    display: flex;
    list-style-type: none;
    margin-left: 14px ;
}
.navbar li{
    padding-top: 25px;
    font-size: 12px;
    margin-top: -24px;
    padding-left: 45px;
}
.navbar a{
    text-decoration: none;
    color:black;
}
.navbar a:hover{
    border-top: 3px solid #0065FC;
    padding-top: 22px;
}
.under-logo p{
    font-size:13px;
}
.section0{
    margin-left: 20px;
}
.under-logo h3{
    font-size: 13px;
}
/*BOUTON DE RECHERCHE*/
.bar-search{
    margin-left: 20px;
}
.bouton1{  
    border-radius: 0 10px 10px 0;
    color:white;
    background-color: #0065FC;
    border: 0 solid transparent;
    margin-left: -6px;
    padding: 5px;
}
.bouton2{
    display:none;
}
.search{
    font-weight: bolder;
    border: 2px solid #F2F2F2;
    border-left: none;
    font-size: 13px;
    padding: 3px;
    margin-left:-5px;
}
.loupe{
    background: #F2F2F2;
    border-radius: 10px 0 0 10px;
    padding: 7px;
    margin-left:-4px;
    font-size:12px
}
/*PARTIE filtre*/
.section-filtre li:hover{
    color:#2588cf;
   cursor: pointer;
}
.section-filtre{
    display:flex;
    align-items: center;
    margin-top:20px;
    margin-left: 20px;
}
.section-filtre ul{
    display:grid;
    align-items: center;
    list-style-type: none;
    grid-gap: 21px;
    margin-left: -30px;
}
.economie{
    grid-area:1/1/2/2;
    padding-right: 16px;
}
.filtre-economique{
    padding-left: 12px;
}
.familial{
    grid-area:1/2/2/3;
}
.filtre-familial{
    padding-left: 10px;
}
.heart{
    grid-area:1/3/2/4;
}
.filtre-heart{
    padding-left: 16px;
}
.dog{
    grid-area: 1/4/1/5;
}
.filtre-dog{
    padding-left: 16px;
}
.section-filtre i{
    margin: -1px -7px -2px -5px;
    padding: 1rem;
    border-radius: 50%;
    background:#DEEBFF;
    color:#0065FC;
    font-size:12px
}
.section-filtre li{
    border: 2px solid #F2F2F2;
    border-radius: 1.4rem;
    font-weight: bolder;
    padding-right: 16px;
    font-size:12px
}
.section-filtre h2{
    font-size: 12px;
}
.section-filtre span{
    grid-gap:5px;
}
.logement{
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
}
.logement h3{
    padding-left:20px;
}
.logement i{
    color:#0065FC;
    margin-left: 15px;
}
/* PARTIE HEBERGEMENT A MARSEILLE*/
.hebergement-marseille{
    background-color: #f2F2F2;
    border-radius: 20px 20px;
    width: 100%;
}
.hebergement-marseille h3{
    margin-top: 35px;
    margin-left: 25px;
    padding-top:20px;
 }
.hebergement-marseille h4{
    padding-top: 8px;
    font-size: 11px;
    margin-left: 10px;
    margin-top: -6px;
}
.hebergement-marseille h5{
    padding-left:30px;
    padding-top: 20px;
    padding-bottom: 27px;
}
.hebergement-marseille p{
    font-size: 10px;
    margin-left: 10px;
    margin-top: -14px;
}
.hebergement-marseille ul{
    list-style-type: none;
    display: flex;
    color: #0065FC;
    margin-left: -31px;
    margin-top: -9px;
}
.section1{
    display: block;
}
.icone1 , .icone2 ,.icone3,.icone4{
    font-size:small;
}
.hotel-haut{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
}
.hotel-haut h4{
    padding-top:10px;
}
.auberge-cannebiere{
    border-radius: 15px 15PX 15px 15px;
    background:white;
    height: 175px;
    width: 200px;
    box-shadow:1px 1px 11px 0px;
    grid-area: 1/1/2/2;
    margin: 20px;
}
.photo-cannebiere{
    height: 120px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 97%;
    margin:-4px 1px -23px 3px
}
.auberge-cannebiere li:nth-of-type(5){
    color:grey;
    opacity:0.3;
}
.auberge-cannebiere h4{
    margin-top: 18px;
}
.auberge-cannebiere{
    padding-top: 8px;
}
.hotel-port{
    border-radius: 15px 15PX 15px 15px;
    background:white;
    margin: 20px;
    height: 175px;
    width: 200px;
    box-shadow:1px 1px 11px 0px;
    grid-area: 1/2/2/3;
}
.photo-port{
    height: 120px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 97%;
    margin:4px 0px 0px 3px;
}
.hotel-mouette{
    border-radius: 15px 15PX 15px 15px;
    background:white;
    margin: 20px;
    height: 175px;
    width: 200px;
    box-shadow:1px 1px 11px 0px;
    grid-area: 1/3/2/4;
}
.hotel-mouette li:nth-of-type(5){
    color:grey;
    opacity:0.3;
}
.photo-mouette{
    height: 120px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 97%;
    margin:4px 0px 0px 3px;
}
.hotel-mer{
    border-radius: 15px 15PX 15px 15px;
    background:white;
    margin: 20px;
    height: 175px;
    width: 200px;
    box-shadow:1px 1px 11px 0px;
}
.photo-mer{
    height: 120px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 97%;
    margin:4px 0px 0px 3px;
}
.hotel-mer li:nth-of-type(1n+4){
    color:grey;
    opacity:0.3;
}
 .hotel-panier{
    border-radius: 15px 15PX 15px 15px;
    background:white;
    margin: 20px;
    height: 175px;
    width: 200px;
    box-shadow:1px 1px 11px 0px;
}
.photo-panier{
    height: 120px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 97%;
    margin:4px 0px 0px 3px;
 }
.hotel-panier li:nth-of-type(5){
    color:grey;
    opacity:0.3;
} 
.hotel-amina{
    border-radius: 15px 15PX 15px 15px;
    background:white;
    margin: 20px;
    height: 175px;
    width: 200px;
    box-shadow:1px 1px 11px 0px;
}
.photo-amina{
    height: 120px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    width: 97%;
    margin:4px 0px 0px 3px;
}
/*partie les plus populaires*/
.section-cote{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top:16px;
    padding-left: 20px;
}
.section-cote i{
    font-size: x-large;
    margin:20px;
    padding-left: 50px;
}
.section2{
    background: #F2F2F2;
    border-radius: 15px 15px;
    margin-right:-11px;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section2 h4{
    font-size:13px;
  
}
.section2 p{
    font-size:9px;
}
.hotel-lesoleil{
    display: flex;
    border-radius: 15px;
    background: white;
    margin: 20px;
    height: 110px;
    width: 280px;
}
.photo-lesoleil{
    height: 100px;
    width: 105px;
    border-radius: 15px 0px 0px 15px;
    margin: 5px 12px 0px 5px;
    object-fit: cover;
}
.hotel-coeur{
    display: flex;
    border-radius: 15px;
    background:white;
    margin: 20px;
    height: 110px;
    width: 280px;
    margin-top: 35PX;
}
.photo-coeur{
    height: 100px;
    width: 105px;
    border-radius: 15px 0px 0px 15px;
    margin: 5px 12px 0px 5px;
    object-fit: cover;
}
.hotel-bleu{
    display: flex;
    border-radius: 15px;
    background:white;
    margin: 20px;
    height: 110px;
    width: 280px;
    margin-top: 35PX;
}
.photo-bleu{
    height: 100px;
    width: 105px;
    border-radius: 15px 0px 0px 15px;
    margin: 5px 12px 0px 5px;
    object-fit: cover;
}
.hotel-bleu li:nth-of-type(5),.hotel-coeur li:nth-of-type(5){
    color: gray;
    opacity:0.6;
}
.icone1 , .icone2,.icone3{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    margin-left: -40px;
    color:#0065FC;
}
/*** PARTIE ACTIVITEE A MARSEILLE*/
.activite-marseille{
    margin-left: 20px;
    margin-right: 20px;
}
.activite-marseille h5{
     padding-left: 10px;
    margin-top: 10px;
    font-size: 11px;
}
.marseille-photo{
    display: flex;
}
.vieux-port{
    height:350px;
    background-color: white;
    border-radius:15px 15px;
    margin-right: 35px;
    box-shadow:1px 1px 11px 0px;
}
.photo-vieuxport{
    width:160px;
    height:310px;
    border-radius:15px 15px 0 0;
    object-fit: cover;
}
.pomegue{
    height:166px;
    background-color: white;
    border-radius:15px 15px;
    box-shadow:1px 1px 11px 0px;
}
.photo-pomegue{
    width:150px;
    height:113px;
    border-radius:15px 15px 0 0;
    object-fit: cover;
}
.frioul{
    height:140px;
    background-color: white;
    border-radius:15px 15px;
    margin-top:42px;
     box-shadow:1px 1px 11px 0px;
}
.photo-frioul{
    width: 150px;
    height: 89px;
    border-radius:15px 15px 0 0;
    object-fit: cover;
}
.calanques{
    height:350px;
    background-color: white;
    border-radius:15px 15px;
    margin-right:35px;
    margin-left:35px;
    box-shadow:1px 1px 11px 0px;
}
.photo-calanques{
    width:160px;
    height:310px;
    border-radius:15px 15px 0 0;
    object-fit: cover;
}
.notre-dame{
    height:166px;
    background-color: white;
    border-radius:15px 15px;
    box-shadow:1px 1px 11px 0px;
}
.photo-notredame{
    width:171px;
    height:110px;
    border-radius:15px 15px 0 0;
    object-fit: cover;
         }
.longchamp{
    height:140px;
    background-color: white;
    border-radius:15px 15px;
    margin-top:42px;
    box-shadow:1px 1px 11px 0px;
}
.photo-longchamp{
    width: 171px;
    height: 110px;
    border-radius:15px 15px 0 0;
    object-fit: cover;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:#F2F2F2;
    margin: 30px -17px -19px -15px
}
footer ul{
    list-style-type: none;
    line-height:1.6;
}
.titre-propos{
    padding-top:40px;
    font-weight:bolder;
    font-size: 14px;
    margin-bottom: 30px;
}
footer li{
    font-size:13px;
}
}
/*********************partie ordinateur*****************/
@media screen and (min-width:992px){
body{
       font-family: 'Raleway', sans-serif;
       box-sizing: border-box;
       padding:2%;
}
header{
       border:1px solid red;
}
.navbar img{
       height: 30px;
}
.navbar{
       display: flex;
       align-items: center;
       justify-content: space-between;
       margin-right:20px;
}
.navbar ul{
       display: flex;
       list-style-type: none;
       margin-left: 14px;
}
.navbar li{
       padding-top: 25px;
       font-size: 12px;
       margin-top: -24px;
       padding-left: 45px;
}
.navbar a{
       text-decoration: none;
       color:black;
}
.navbar a:hover{
       border-top: 3px solid #0065FC;
       padding-top: 22px;
}
.under-logo p{
       font-size:13px;
       border:1px solid red;
}
.under-logo h3{
    border:1px solid red;
}
/*BOUTON DE RECHERCHE*/
.bar-search{
       border:1px solid red;
}
.bouton1{  
       border-radius: 0 14px 14px 0;
       color: white;
       background-color: #0065FC;
       border: 0 solid transparent;
       margin-left: -6px;
       padding: 18px;
}
.bouton2{
       display:none;
}
.search{
       font-weight: bolder;
       border: 2px solid #F2F2F2;
       border-left: none;
       font-size: 16px;
       padding: 14px;
       margin-left: -8px;
}
.loupe{
       background: #F2F2F2;
       border-radius: 10px 0 0 10px;
       padding: 18px;
}
/*PARTIE filtre*/
.section-filtre{
       display:flex;
       align-items: center;
       margin-top:20px;
       border:1px solid red;
}
.section-filtre ul{
       display:grid;
       align-items: center;
       list-style-type: none;
       grid-gap: 21px;
       margin-left: -30px;
}
.section-filtre i{
    margin: -1px -7px -2px -5px;
    padding: 1rem;
    border-radius: 50%;
    background:#DEEBFF;
    color:#0065FC;
    font-size:17px
}
.section-filtre li:hover{
    color:#2588cf;
   cursor: pointer;
}
.section-filtre li{
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    font-weight: bolder;
    padding-right: 16px;
    font-size:17px
}
.section-filtre h2{
    font-size: 17px;
}
.economie{
       grid-area:1/1/2/2;
       padding-right: 16px;
}
.filtre-economique{
       padding-left: 12px;
}
.familial{
       grid-area:1/2/2/3;
}
.filtre-familial{
       padding-left: 10px;
}
.heart{
       grid-area:1/3/2/4;
}
.filtre-heart{
       padding-left: 16px;
}
.dog{
       grid-area: 1/4/1/5;
}
.filtre-dog{
       padding-left: 16px;
}
.logement{
       display: flex;
       align-items: baseline;
       margin-bottom: 20px;
       border:1px solid red;
}
.logement h3{
       padding-left:20px;
}
.logement i{
       color:#0065FC;
       margin-left: 15px;
}
/* PARTIE HEBERGEMENT A MARSEILLE*/
main{
    border:1px solid red;
}
.hebergement-marseille{
 background-color: #f2F2F2;
 border-radius: 20px 20px;
 width: 60%;
}
.hebergement-marseille h3{
       margin-top: 35px;
       margin-left: 25px;
}
.hebergement-marseille h4{
       padding-top: 8px;
       font-size: 11px;
       margin-left: 10px;
       margin-top: -6px;
}
.hebergement-marseille h5{
       padding-left:30px;
}
.hebergement-marseille p{
       font-size: 10px;
       margin-left: 10px;
       margin-top: -14px;
}
.hebergement-marseille ul{
       list-style-type: none;
       display: flex;
       color: #0065FC;
       margin-left: -31px;
       margin-top: -9px;
}
.section1{
       display: flex;
       justify-content: space-between;
}
.icone1 , .icone2 ,.icone3,.icone4{
       font-size:small;
}
.hotel-haut{
       display: grid;
       justify-content: space-between;
       grid-template-columns: 0.5fr 0.5fr 0.5fr;
}
.hotel-haut h4{
       padding-top:10px;
}
.auberge-cannebiere{
       border-radius: 15px 15PX 15px 15px;
       background:white;
       height: 175px;
       width: 200px;
       box-shadow:1px 1px 11px 0px;
       grid-area: 1/1/2/2;
       margin: 20px;
}
.photo-cannebiere{
       height: 120px;
       object-fit: cover;
       border-radius: 15px 15px 0 0;
       width: 97%;
       margin:-4px 1px -23px 3px
}
.auberge-cannebiere li:nth-of-type(5){
       color:grey;
       opacity:0.3;
}
.auberge-cannebiere h4{
       margin-top: 18px;
}
.auberge-cannebiere{
       padding-top: 8px;
}
.hotel-port{
       border-radius: 15px 15PX 15px 15px;
       background:white;
       margin: 20px;
       height: 175px;
       width: 200px;
       box-shadow:1px 1px 11px 0px;
       grid-area: 1/2/2/3;
 }
.photo-port{
       height: 120px;
       object-fit: cover;
       border-radius: 15px 15px 0 0;
       width: 97%;
       margin:4px 0px 0px 3px;
}
.hotel-mouette{
       border-radius: 15px 15PX 15px 15px;
       background:white;
       margin: 20px;
       height: 175px;
       width: 200px;
       box-shadow:1px 1px 11px 0px;
       grid-area: 1/3/2/4;
}
.hotel-mouette li:nth-of-type(5){
       color:grey;
       opacity:0.3;
}
.photo-mouette{
       height: 120px;
       object-fit: cover;
       border-radius: 15px 15px 0 0;
       width: 97%;
       margin:4px 0px 0px 3px;
}
.hotel-mer{
       border-radius: 15px 15PX 15px 15px;
       background:white;
       margin: 20px;
       height: 175px;
       width: 200px;
       box-shadow:1px 1px 11px 0px;
}
.photo-mer{
       height: 120px;
       object-fit: cover;
       border-radius: 15px 15px 0 0;
       width: 97%;
       margin:4px 0px 0px 3px;
}
.hotel-mer li:nth-of-type(1n+4){
       color:grey;
       opacity:0.3;
}
.hotel-panier{
       border-radius: 15px 15PX 15px 15px;
       background:white;
       margin: 20px;
       height: 175px;
       width: 200px;
       box-shadow:1px 1px 11px 0px;
}
.photo-panier{
       height: 120px;
       object-fit: cover;
       border-radius: 15px 15px 0 0;
       width: 97%;
       margin:4px 0px 0px 3px;
}
.hotel-panier li:nth-of-type(5){
       color:grey;
       opacity:0.3;
} 
   .hotel-amina{
       border-radius: 15px 15PX 15px 15px;
       background:white;
       margin: 20px;
       height: 175px;
       width: 200px;
       box-shadow:1px 1px 11px 0px;
}
.photo-amina{
       height: 120px;
       object-fit: cover;
       border-radius: 15px 15px 0 0;
       width: 97%;
       margin:4px 0px 0px 3px;
}
/*partie les plus populaires*/
.section-cote{
 display: flex;
 justify-content: space-around;
 align-items:center;
 padding-top:16px;
}
.section2{
       background: #F2F2F2;
       border-radius: 15px 15px;
       margin-left: 62px;
   }
.hotel-lesoleil{
 display: flex;
 border-radius: 15px;
 background: white;
 margin: 20px;
 height: 110px;
 width: 280px;
 margin-top: 35PX;
 }
.section2 h4{
 font-size:13px;
}
.section2 p{
 font-size:9px;
}
.photo-lesoleil{
 height: 100px;
 width: 105px;
 border-radius: 15px 0px 0px 15px;
 margin: 5px 12px 0px 5px;
 object-fit: cover;
   }
.hotel-coeur{
 display: flex;
 border-radius: 15px;
 background:white;
 margin: 20px;
 height: 110px;
 width: 280px;
 margin-top: 35PX;
}
.photo-coeur{
 height: 100px;
 width: 105px;
 border-radius: 15px 0px 0px 15px;
 margin: 5px 12px 0px 5px;
 object-fit: cover;
}
.hotel-bleu{
 display: flex;
 border-radius: 15px;
 background:white;
 margin: 20px;
 height: 110px;
 width: 280px;
 margin-top: 35PX;
}
.photo-bleu{
 height: 100px;
 width: 105px;
 border-radius: 15px 0px 0px 15px;
 margin: 5px 12px 0px 5px;
 object-fit: cover;
}
.hotel-bleu li:nth-of-type(5),.hotel-coeur li:nth-of-type(5){
 color: gray;
 opacity:0.6;
}
.icone1 , .icone2,.icone3{
 list-style: none;
 display: flex;
 justify-content: flex-start;
 margin-left: -40px;
 color:#0065FC;
}
/*** PARTIE ACTIVITEE A MARSEILLE*/
.activite-marseille{
border:1px solid red;
}
.activite-marseille h5{
 padding-left: 10px;
 margin-top: 10px;
}
.marseille-photo{
 display: flex;
}
.vieux-port{
 height:350px;
 background-color: white;
 border-radius:15px 15px;
 margin-right: 35px;
 box-shadow:1px 1px 11px 0px;
}
.photo-vieuxport{
 width:250px;
 height:310px;
 border-radius:15px 15px 0 0;
 object-fit: cover;
   }
.pomegue{
 height:166px;
 background-color: white;
 border-radius:15px 15px;
 box-shadow:1px 1px 11px 0px;
}
.photo-pomegue{
 width:250px;
 height:110px;
 border-radius:15px 15px 0 0;
 object-fit: cover;
}
.frioul{
 height:140px;
 background-color: white;
 border-radius:15px 15px;
 margin-top:42px;
 box-shadow:1px 1px 11px 0px;
}
.photo-frioul{
 width: 250px;
 height: 89px;
 border-radius:15px 15px 0 0;
 object-fit: cover;
}
.calanques{
 height:350px;
 background-color: white;
 border-radius:15px 15px;
 margin-right:35px;
 margin-left:35px;
 box-shadow:1px 1px 11px 0px;
}
.photo-calanques{
 width:250px;
 height:310px;
 border-radius:15px 15px 0 0;
 object-fit: cover;
}
.notre-dame{
 height:166px;
 background-color: white;
 border-radius:15px 15px;
 box-shadow:1px 1px 11px 0px;
}
.photo-notredame{
 width:250px;
 height:110px;
 border-radius:15px 15px 0 0;
 object-fit: cover;
}
.longchamp{
 height:140px;
 background-color: white;
 border-radius:15px 15px;
 margin-top:42px;
 box-shadow:1px 1px 11px 0px;
}
.photo-longchamp{
 width: 250px;
 height: 89px;
 border-radius:15px 15px 0 0;
 object-fit: cover;
}
footer{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 background-color:#F2F2F2;
 border:1px solid red;
 margin-top:30px;
 margin: 30px -17px -19px -15px
}
footer ul{
 list-style-type: none;
 line-height:1.6;
}
.titre-propos{
 padding-top:40px;
 font-weight:bolder;
 font-size: 14px;
 margin-bottom: 30px;
}
footer li{
 font-size:13px;
}
}